<div class="container">
      
    <!-- Start Section About -->
    <div class="section">
        <div class="title">About</div>
        <div class="line"></div>
    </div>
    <!-- End Section About -->

    <!-- Start About -->
    <div class="about">
        <div class="image">
            <div class="back-one">
                <div class="back-two">
                    <img src="/images/photo__Personnel--500_500.png" alt="">
                </div>
            </div>
        </div>
        <div class="infos">

            <div class="title">
                <span> 🚀 FullStack developer</span>
            </div>

            <div class="description">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                Ratione eum iure, dolorem nam ea, sunt excepturi quis debitis
                Ratione eum iure, dolorem nam ea, sunt excepturi quis debitis
                Ratione eum iure, dolorem nam ea, sunt excepturi quis debitis
            
            </div>

            <div class="info">
                <div class="cercle cercle1"></div>
                <div class="info-plus">📍 Lorem ipsum dolor sit amet.</div>
            </div>
            <div class="info">
                <div class="cercle cercle2"></div>
                <div class="info-plus">🎓 Lorem ipsum dolor sit amet.</div>
            </div>
            <div class="info">
                <div class="cercle cercle3"></div>
                <div class="info-plus">🧠 Lorem ipsum dolor sit amet.</div> 
            </div>

        </div>
    </div>
    <!-- End About -->



</div>