<div class="container">
    
    <!-- Start Intro -->
    <div class="intro">

        <!-- Start Angles -->
        <div class=" top-left"></div>
        <div class=" top-right"></div>
        <div class=" bottom-left"></div>
        <div class=" bottom-right"></div>
        <!-- End Angles -->

        <div class="title">HI, I'M <span>MACHLOU MOHAMED</span></div>
        <div class="sub-title">🚀 ANGULAR/NODEJS FULL STACK DEVELOPER</div>
        <div class="para">
            <p>
                Passionate about building modern web apps using React, 
                Node.js,Next.js and MongoDB. Focused on writing clean code, 
                solving real problems, and constantly learning.
                Open to internships, freelance work, and exciting tech challenges!
            </p>
        </div>
        <div class="btn">
            <button type="button" >VIEW MY WORK</button>
            <button type="button" >DOWNLOAD CV</button>
        </div>
        
        <div class="social">
            <div class="social-body">
                <div class="social-centent">
                    <div class="github">
                        <i class="fa-brands fa-github"></i>
                    </div>
                </div>
                <div class="social-centent">
                    <div class="linkedin">
                    <i class="fa-brands fa-linkedin-in"></i>
                </div>
                </div>
                <div class="social-centent">
                    <div class="instagram">
                    <i class="fa-brands fa-instagram"></i>
                </div>
                </div>
                <div class="social-centent">
                    <div class="contact">
                    <i class="fa-brands fa-linkedin-in"></i>
                </div>
                </div>
                
                
                
            </div>
        </div>

    </div>
    <!-- End Intro -->

    
    <!-- Start About -->

    <!-- Start Section About -->
    <div class="section sec-about">
        <div class="title">About Me</div>
        <div class="line"></div>
    </div>
    <!-- End Section About -->

    <div class="about">
        <div class="image">
            <div class="back-one">
                <div class="back-two">
                    <img src="/images/photo__Personnel--500_500.png" alt="">
                </div>
            </div>
        </div>
        <div class="infos">

            <div class="title">
                <span> 🚀 FullStack developer</span>
            </div>

            <div class="description">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                Ratione eum iure, dolorem nam ea, sunt excepturi quis debitis
                Ratione eum iure, dolorem nam ea, sunt excepturi quis debitis
                Ratione eum iure, dolorem nam ea, sunt excepturi quis debitis
            
            </div>
            <div class="projects-intership">
                <div class="info-plus project">
                    <span class="number">10+</span>
                    <span class="title">Projects & Hackathon Solutions</span>
                </div>
                <div class="info-plus intership">
                    <span class="number">2025</span>
                    <span class="title">Internship Completed</span>
                </div>
            </div>

            <div class="info">
                <div class="cercle cercle1"></div>
                <div class="info-plus">📍 Lorem ipsum dolor sit amet.</div>
            </div>
            <div class="info">
                <div class="cercle cercle2"></div>
                <div class="info-plus">🎓 Lorem ipsum dolor sit amet.</div>
            </div>
            <div class="info">
                <div class="cercle cercle3"></div>
                <div class="info-plus">🧠 Lorem ipsum dolor sit amet.</div> 
            </div>

        </div>
    </div>
    <!-- End About -->

     <!-- Start Section for Skills & Technologies -->
    <div class="section sec-skills">
        <div class="title">Skills & Technologies</div>
        <div class="line"></div>
        <div class="description">
            These are the languages, tools, 
            and frameworks I use to build secure and scalable applications.
        </div>
    </div>
    <!-- End Section for  Skills & Technologies -->

    <!-- Start Skills & Technologies -->
     <div class="skills">
         <div class="skills-body">
     
     
             <div class="skills-blocks">
                 <div class="title">Programming Languages</div>
                 <div class="skill">
                     <div class="skill-infos">
                         <div class="skill-title">Python</div>
                         <div class="skill-porc">80%</div>
                     </div>
                     <div class="skill-bar">
                         <div class="skill-bar-body">
                             <div class="bar"></div>
                         </div>
                     </div>
                 </div>
                 <div class="skill">
                     <div class="skill-infos">
                         <div class="skill-title">Python</div>
                         <div class="skill-porc">80%</div>
                     </div>
                     <div class="skill-bar">
                         <div class="bar"></div>
                         
                     </div>
                 </div>
                 <div class="skill">
                     <div class="skill-infos">
                         <div class="skill-title">Python</div>
                         <div class="skill-porc">80%</div>
                     </div>
                     <div class="skill-bar">
                         <div class="bar"></div>
     
                     </div>
                 </div>
             </div>
     
     
             <div class="skills-blocks">
                 <div class="title">Backend & Tools</div>
                 <div class="skill">
                     <div class="skill-infos">
                         <div class="skill-title">Python</div>
                         <div class="skill-porc">80%</div>
                     </div>
                     <div class="skill-bar">
                         <div class="skill-bar-body">
                             <div class="bar"></div>
                         </div>
                     </div>
                 </div>
                 <div class="skill">
                     <div class="skill-infos">
                         <div class="skill-title">Python</div>
                         <div class="skill-porc">80%</div>
                     </div>
                     <div class="skill-bar">
                         <div class="bar"></div>
                         
                     </div>
                 </div>
                 <div class="skill">
                     <div class="skill-infos">
                         <div class="skill-title">Python</div>
                         <div class="skill-porc">80%</div>
                     </div>
                     <div class="skill-bar">
                         <div class="bar"></div>
     
                     </div>
                 </div>
             </div>
     
     
             <div class="skills-blocks">
                 <div class="title"> DevOps & Others </div>
                 <div class="skill">
                     <div class="skill-infos">
                         <div class="skill-title">Python</div>
                         <div class="skill-porc">80%</div>
                     </div>
                     <div class="skill-bar">
                         <div class="skill-bar-body">
                             <div class="bar"></div>
                         </div>
                     </div>
                 </div>
                 <div class="skill">
                     <div class="skill-infos">
                         <div class="skill-title">Python</div>
                         <div class="skill-porc">80%</div>
                     </div>
                     <div class="skill-bar">
                         <div class="bar"></div>
                         
                     </div>
                 </div>
                 <div class="skill">
                     <div class="skill-infos">
                         <div class="skill-title">Python</div>
                         <div class="skill-porc">80%</div>
                     </div>
                     <div class="skill-bar">
                         <div class="bar"></div>
     
                     </div>
                 </div>
             </div>
     
     
         </div>
     </div>
    <!-- End Skills & Technologies -->

</div>